
<body>
<div class="club_show">
    <div class="div1_club"> 
        <h1 style="text-align:center"><%= @club.name %></h1>
        <div style="text-align:center"><b>Address: </b><%= @club.address %></div>
        <div style="text-align:center"><b>Description: </b><%= @club.description %></div><br>
        <div class="show-pic" style="text-align:center"> <img  src=<%= @club.pic%> height="500"></div>
    </div>

    <div class="div2_club"> 
        <h4 style="text-align:center">Reviews </h4>
        <% @club.reviews.each do |review| %>
            <div style="text-align:center"><b>Rating : </b> <%= review.rating %> star</div>
            <div style="text-align:center"><b>Content :</b><%= review.content %></div>
            <div style="text-align:center"><b>Date :</b> <%= review.date.strftime ('%B %-d, %Y') %></div>
        <% end %>
    <h4 style="text-align:center"> Write a Review <%= render partial: "reviews/form" %></h4>
    
    <h4 style="text-align:center">Upcoming Performances</h4>
    
        <% @club.upcoming_gigs.each do |gig| %>
            <div style="text-align:center"><b>Performing : </b> <%= gig.user.name %></div>
            <div style="text-align:center"><b>Price : $</b> <%= gig.price %></div>
            <div style="text-align:center"><b>Date : </b> <%= gig.date.strftime ('%B %-d, %Y') %></div>
            <br>

        <% end %>
    </div>


    <div class="div3_club"style="text-align:center"> <iframe width="300" height="300" src="https://www.youtube.com/embed/QkqEf78xL-U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe></div>
    <div class="div4_club"style="text-align:center"> <iframe src="https://giphy.com/embed/EDV30lQQ9VW5q" width="300" height="300" frameBorder="0" class="giphy-embed" ></iframe></div>



</body>

</div>
