<h1 style="text-align:center"><%= @club.name %></h1>


<p style="text-align:center"><b>Address: </b><%= @club.address %></p>
<p style="text-align:center"><b>Description: </b><%= @club.description %></p>
    
<p  style="text-align:center"> <img  src=<%= @club.pic%> height="500"></p>


<h3 style="text-align:center">Reviews </h3>

<% @club.reviews.each do |review| %><br>
    <p style="text-align:center"><b>Rating : </b> <%= review.rating %> star<br>
    <p style="text-align:center"><b>Content : </b><%= review.content %><br>
    <p style="text-align:center"><b>Date : <%= review.date.strftime ('%B %-d, %Y') %><br>
<% end %>

<% @club.gigs.each do |gig| %><br>
    <p style="text-align:center"><b>Performing : </b> <%= gig.user.name %><br>
    <p style="text-align:center"><b>Price : </b>$<%= gig.price %><br>
    <p style="text-align:center"><b>Date : <%= gig.date.strftime ('%B %-d, %Y') %><br>
<% end %>

<br>

<h3 style="text-align:center"> Write a Review <%= render partial: "reviews/form" %></h3>




