<h1 style="text-align:center"><%= @user.name %></h1>


    <p style="text-align:center"><b>Email: </b><%= @user.email %></p>
    <p style="text-align:center"><b>Age: </b><%= @user.age %></p>
    <p style="text-align:center"><b>Hometown: </b><%= @user.hometown %></p>
    <p style="text-align:center"><b>Bio: </b><%= @user.bio %></p>
    

    <p  style="text-align:center"> <img  src=<%= @user.pic%> height="500"></p>
<h3 style="text-align:center">Jokes :</h3>
<div>
    <% @user.jokes.each do |joke| %>
    <p style="text-align:center"><%= joke.content %></li>

    <% end %>

</div>

<div>
<% if session[:user_id] == @user.id %>
    <h3 style="text-align:center"> Create a New Joke <%= render partial: "jokes/form" %></h3>
<% end %>
</div>



