<h1 style="text-align:center"><%= @user.name %></h1>


    <p style="text-align:center">Email: <%= @user.email %></p>
    <p style="text-align:center">Age: <%= @user.age %></p>
    <p style="text-align:center">Hometown: <%= @user.hometown %></p>
    <p style="text-align:center">Bio: <%= @user.bio %></p>
    

    <p  style="text-align:center"> <img  src=<%= @user.pic%> height="500"></p>
<h3 style="text-align:center">Jokes :</h3>
<div>
    <% @user.jokes.each do |joke| %>
    <p style="text-align:center"><%= joke.content %></li>

    <% end %>

</div>


<h3 style="text-align:center"> Create a New Joke <%= render partial: "jokes/form" %></h3>




