<body>
<div class="comedian_show">

    <div class="div1_comedy">
        <h1 style="text-align:center"><%= @user.name %></h1>

            <div style="text-align:center"><b>Email : </b><%= @user.email %></div>
            <div style="text-align:center"><b>Age : </b><%= @user.age %></div>
            <div style="text-align:center"><b>Hometown : </b><%= @user.hometown %></div>
            <div style="text-align:center"><b>Bio : </b><%= @user.bio %></div><br>
            <div class="show-pic" style="text-align:center"> <img  src=<%= @user.pic%> height="500"></div>
    </div>

    <div class="div2_comedy center">

        <% if session[:user_id] == @user.id %>
            <h4 style="text-align:center"><%= link_to 'Edit Profile', edit_user_path(@user) %>
            <h4 style="text-align:center"><%= button_to 'Delete Profile', user_path, method: :delete %>
            <h4 style="text-align:center"> Book A Gig<%= render partial: "gigs/form" %></h4>
        <% end %>


        <h4 style="text-align:center"> Upcoming Gigs : </h4>
            <% @user.upcoming_gigs.each do |gig| %>
                <div style="text-align:center"><b><%= gig.club.name %></b> - Date : <%= gig.date.strftime ('%B %-d, %Y') %></div>
                <% if session[:user_id] == @user.id %>
                    <div style="text-align:center"><%= button_to "Delete", gig_path(gig), method: :delete %></div>
                <% end %>
        <% end%>

        <h4 style="text-align:center"> Jokes :</h4>
            <% @user.jokes.each do |joke| %>
            <div class="container">
                <div style="text-align:center"><%= joke.content %> Likes : <%= joke.like%> Dislikes : <%= joke.dislike %></button></div>
                <div><%= button_to "ðŸ‘", like_path(joke), method: :patch %></div>
                <div><%= button_to "ðŸ‘Ž", dislike_path(joke), method: :patch %></div>
            </div>
            <% end %>
        </div>

        <div class="div3_comedy">
            <% if session[:user_id] == @user.id %>
            <h4 style="text-align:center"> Create a New Joke <%= render partial: "jokes/form" %></h4>
            <% end %>
        </div>


    <div class="div4_comedy"style="text-align:center"><iframe width="300" height="300" src="https://www.youtube.com/embed/zSWUWPx2VeQ" frameborder="0" allow="accelerometer;loop=1;mute=1; autoplay=1; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe></div>

    <div class="div5_comedy"style="text-align:center"><iframe src="https://giphy.com/embed/3o7TKQveWJpORTTQpa" width="300" height="300" frameBorder="0" class="giphy-embed"></iframe></div>


</div>
</body>