<body>
<% if flash[:joke_errors] %>
    <% flash[:joke_errors].each do |error| %>
        <div style="color: red"><%= error %></div>
    <% end %>
<% end %>



<%= form_for(@joke) do |f| %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    <%= f.hidden_field :like, value: 0 %>
    <%= f.hidden_field :dislike, value: 0 %>
    <%= f.label "Content" %>
    <%= f.text_field :content %>
    <%= f.submit %>
<% end %>

</body>