<% if flash[:my_errors] %>
    <% flash[:my_errors].each do |error| %>
        <p><%= error %></p>
        <% end %>
    <% end %>
<div style="text-align: center">


<%= form_for(@gig) do |f| %>
    <%= f.label :club %><br>
    <%= f.collection_select :club_id, Club.all, :id, :name %><br>

    <%= f.hidden_field :user_id, value: session[:user_id] %><br>

    <%= f.label :date %><br>
    <%= f.date_field :date %><br>

    <br>

    <%= f.label :price %><br>
    <%= f.number_field :price %><br>

    <br>
    
    
    <%= f.submit %>
<% end %>
</div>
